<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="router" style="margin-left: 50px ;margin-top: 50px">
        首页>苏州兼职网>打包分拣兼职工作招聘>宝尊物流轻松分拣
      </div>
      <div class="main" style="width: 80%;overflow: hidden"  >
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="left" >
          <div class="details" style="background-color: white">
            <div class="title">
              <h2>{{_position?.jobname}}</h2>
              <div>
                <span><b>{{_position?.salary}}</b>元/天</span>
                <div class="title_r">
                  <span class="fl">{{_position?.mode}}</span>
                  <span class="fl">{{_position?.position}}</span>
                  <span class="fl">{{_position?.recruitNumber}}</span>
                </div>
              </div>
            </div>
            <div class="tite_btn">
              <button (click)="baoming(_position?.ID)">报名参加</button>
            </div>
          </div>

          <div class="position_detail">
            <div>
              <h3>职位详情</h3>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </div>
            <div>
              <p>
                招聘职位：{{_position?.job}}<br>
                招聘人数：{{_position?.peopleNumber}}<br>
                工作内容：{{_position?.content}}<br>
                工资结算：{{_position?.mode}}<br>
                <!--集合时间：集合 统一安排住宿（独立洗浴间+独立卫生间+空调+洗衣机）水电全部免费<br>-->
                工作时间：{{_position?.pay}}<br>
                <!--工作时间：最少做3天，每周都可申请休息1-2天 可长期干<br>-->
                薪    资 ：{{_position?.pay}}<br>
                集合地点：{{_position?.gatherarea}}<br>
                兼职要求：{{_position?.require}}<br>
                <!--工作时间：根据每天的快递量 每日工作10-13个小时（含吃饭休息2小时）<br>-->
                <!--工作时间：最少做3天，每周都可申请休息1-2天 可长期干<br>-->
                <!--薪    资 ：14元/小时<br>-->
                <!--集合地点：吴中商城  车接<br>-->
                <!--兼职要求：年龄16-45岁 男女不限<br>-->
              </p>
            </div>
            <div class="pay">
              <h3>薪资待遇</h3>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </div>
            <div>
              <p>
                {{_position?.mode}}{{_position?.pay}}
              </p>
            </div>
          </div>

          <div class="working_time">
            <div class="pay">
              <h3>工作时间</h3>
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                </span>
            </div>
            <div class="time">
              <div class="start">开始日期：{{_position?.strartTime}}</div>
              <div class="duration">白班:08:00-20:00</div>
              <div class="start">结束日期：{{_position?.endTime}}</div>
            </div>
          </div>

        <div class="working_where">
          <div class="pay">
            <h3>工作地点</h3>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;
              </span>
          </div>
          <div class="time">
            <div class="duration">{{_position?.workplace}}</div>
          </div>
          <hr>

        </div>

        <div class="other">

          <div class="other_title">
            <h3>浏览了该帖子的人还浏览了</h3>
            <a routerLink="/position">更多职位></a>
          </div>

          <hr style="border: 1px dotted gainsboro">

          <div class="other_detail" *ngFor="let position of positions">
            <h4 (click)="toPositionDetails(position.ID)">{{position.jobname}}</h4>
            <div class="body">
              <div class="body_one"><i>工作时间： </i>{{position.duration}}</div>
              <div class="body_one" style="margin-left: 50px"><i>兼职类型： </i>{{position.type}}</div><br>
              <div class="body_one"><i>工作地点： </i>{{position.workplace}}</div>
              <div class="body_one" style="margin-left: 80px"><i>招聘人数： </i>{{position.recruitNumber}}</div>
              <div class="body_one" style="margin-left: 150px"><b>{{position.salary}}</b>元/小时</div>
              <div class="body_one"><i>{{position.mode}}</i></div>
            </div>
            <hr style="border: 1px dotted gainsboro">
          </div>


          <!--
          <div class="other_detail">
            <h4><a href="">名称</a></h4>
            <div class="body">
              <div class="body_one"><i>工作时间： </i></div>
              <div class="body_one" style="margin-left: 50px"><i>兼职类型： </i>}</div><br>
              <div class="body_one"><i>工作地点： </i></div>
              <div class="body_one" style="margin-left: 80px"><i>招聘人数： </i></div>
              <div class="body_one" style="margin-left: 150px"><b></b>元/小时</div>
              <div class="body_one"><i></i></div>
            </div>
            <hr style="border: 1px dotted gainsboro">
          </div>
          -->

        </div>

       </div>
     </div>
      <div class="col-lg-4 col-md-4"><div class="right" style="float:right;background-color:#F1F3F8 ;">
      <div class="picture">
        <img src="../../assets/images/2.png" alt="" >
      </div>

      <!--<div class="company">-->
        <!--<div class="r_img">-->

        <!--</div>-->
        <!--<hr>-->
        <!--<div class="company_t">-->
          <!--<h5><b>苏州市宏景企业管理有限公司</b></h5>-->
          <!--<span><b>公司地址</b>马舍村4栋</span><br>-->
          <!--<span><b>公司简介</b><a href="">查看更多</a></span>-->
        <!--</div>-->
      <!--</div>-->

      <div class="r_other">
        <div class="r_nav" >
          <span>猎户兼职担保职位</span>
        </div>
        <div class="r_other_detail">
          <div class="details_1">发帖经过猎户实地认证并审核资质</div>
          <div class="details_2">发帖经过猎户实地认证并审核资质</div>
          <div class="details_3">发帖经过猎户实地认证并审核资质</div>
        </div>
      </div>

      <div class="r_pic_2">
        <img src="../../assets/images/3.png" alt="" width="280px">
      </div>

      <div class="more">
        <div class="more_t">
          <span><b>薪资有保障</b><a href="">更多职位</a></span>
        </div>
        <div class="more_d">
          <span>YY直播100元一天</span>
          <div class="more_d_1"><span>吴中</span><b>日结</b></div>
          <div class="more_d_2"><span>1000</span>元/天</div>
        </div>
        <hr style="border-bottom: 1px dotted;color: #afafaf">
      </div>

    </div></div>
    </div>
   </div>
</div>

<!------------------------------------------------底部-->
<div class="section5" style="height: 310px;background-color: #7A7A82">
  <div class="div-footer">
    <ul class="feature3"style="margin-top: 0px">
      <li class="wow" style="visibility: visible;">
        <a href="">友情连接:</a>
      </li>
      <li class="wow" style="visibility: visible;">
        <a href="#">新东方培训</a>
      </li>
      <li class="wow" style="visibility: visible;">
        <a href="#">猎户兼职手机版</a>
      </li>
      <li class="wow" style="visibility: visible;">
        <a href="#">职位大全</a>
      </li>
      <li class="wow" style="visibility: visible;">
        <a href="#">北京兼职</a>
      </li>
      <li class="wow" style="visibility: visible;">
        <a href="#"> 苏州兼职</a>
      </li>
      <li class="wow" style="visibility: visible;">
        <a href="#">上海兼职</a>
      </li>
      <li class="wow" style="visibility: visible;">
        <a href="#">杭州兼职</a>
      </li>
      <li class="wow" style="visibility: visible;">
        <a href="#">北京兼职</a>
      </li>
      <li class="wow" style="visibility: visible;">
        <a href="#">郑州兼职</a>
      </li>
      <li class="wow" style="visibility: visible;">
        <a href="#">广州兼职</a>
      </li>  <li class="wow" style="visibility: visible;">
      <a href="#">深圳兼职</a>
    </li>  <li class="wow" style="visibility: visible;">
      <a href="#">太原兼职</a>
    </li>  <li class="wow" style="visibility: visible;">
      <a href="#">贵阳兼职</a>
    </li>  <li class="wow" style="visibility: visible;">
      <a href="#">大连兼职</a>
    </li>  <li class="wow" style="visibility: visible;">
      <a href="#">郑州兼职</a>
    </li>  <li class="wow" style="visibility: visible;">
      <a href="#">合肥兼职</a>
    </li>  <li class="wow" style="visibility: visible;">
      <a href="#">天津兼职</a>
    </li>  <li class="wow" style="visibility: visible;">
      <a href="#">昆明兼职</a>
    </li>  <li class="wow" style="visibility: visible;">
      <a href="#">洛阳兼职</a>
    </li>
      <li class="wow" style="visibility: visible; ">
        <a href="#"class="glyphicon glyphicon-chevron-right"></a>
    </ul>
  </div>
  <div>
    <ul class="feature4"style="margin-top: 0px">
      <li class="wow3" style="visibility: visible;margin-left: 1px">
        <span><a href=""><img src="../../assets/images/logo.png" alt="" style="width: 40px;height: 40px;margin-right: 100px"></a></span>
      </li>
      <li class="wow3" style="visibility: visible;margin-left: -70px;">
        <span><a href=""style="font-weight: 900;font-size: xx-large;color: white;width: 200px;">猎户兼职</a></span>
      </li>
      <li class="wow3" style="visibility: visible;">
        <a href="">关于我们</a>
      </li>
      <li class="wow3" style="visibility: visible;">
        <a href="#">兼职创陪生</a>
      </li>
      <li class="wow3" style="visibility: visible;">
        <a href="#">猎户资讯</a>
      </li>
      <li class="wow3" style="visibility: visible;">
        <a href="#">有偿服务</a>
      </li>
      <li class="wow3" style="visibility: visible;">
        <a href="#">帮助中心</a>
      </li>
    </ul>
  </div>
  <div class="gongsi" style="margin-left: 410px">
    <ul>
      <br>
      <li><a href="" >公司简介</a></li>
      <br>
      <li><a href="">兼职历程</a></li>
      <br>
      <li><a href="">加入兼职</a></li>
      <br>
      <li><a href="">联系猎户</a></li>
    </ul>
  </div>
  <div class="hotline" >
    <p>客服热线</p>
    <p style="font-size: 13px">400-733-3300</p>
    <p>合作邮箱</p>
    <p>ecom#liehu.com</p>
  </div>
  <div class="footer-right2">
    <p>扫描关注公众号</p>
    <p><img src="../../assets/images/1.jpg" width="105px" alt=""></p>
  </div>
  <p style="width: 100%;height: 20px;color: #4E4E4E;text-align: center;margin-top: -9px">高博出品</p>
</div>





