<div class="container" style="background-color: #f5f5f5;height: 650px;">
  <div class="row imgs">
    <div class="firstbig">
      <div class="header ">
        <span style="margin-left: 30px;">兼职意向</span>
        <span style="float: right;color: #2aabd2;margin-right: 30px">多种兼职供您选择，为您提供最好的服务</span>
      </div>

      <div class="middle col-lg-12 " style="font-size: 20px;">
        <!--<div class="imgs">-->
        <h3><span style="color: red">*</span>意向岗位类型
          <!--（最多可选5个）-->
        </h3>
        <ul class=" col-lg-12">
        <li class="col-lg-2"><input type="checkbox">传单派发</li>
        <li class="col-lg-2"><input type="checkbox">商场促销</li>
        <li class="col-lg-2"><input type="checkbox">餐饮服务</li>
        <li class="col-lg-2"><input type="checkbox">客服话务</li>
        <li class="col-lg-2"><input type="checkbox">会展执行</li>
        <li class="col-lg-2"><input type="checkbox">观众充场</li>
        <li class="col-lg-2"><input type="checkbox">外卖送餐</li>
        <li class="col-lg-2"><input type="checkbox">快递分拣</li>
        <li class="col-lg-2"><input type="checkbox">市场推广</li>
        <li class="col-lg-2"><input type="checkbox">销售导购</li>
        <li class="col-lg-2"><input type="checkbox">现场安保</li>
        <li class="col-lg-2"><input type="checkbox">商业演出</li>
        <li class="col-lg-2"><input type="checkbox">礼仪模特</li>
        <li class="col-lg-2"><input type="checkbox">问卷调研</li>
        <li class="col-lg-2"><input type="checkbox">企业实习</li>
        <li class="col-lg-2"><input type="checkbox">文员翻译</li>
        <li class="col-lg-2"><input type="checkbox">家教老师</li>
        <li class="col-lg-2"><input type="checkbox">校园代理</li>
        <li class="col-lg-2"><input type="checkbox">文案编辑</li>
        <li class="col-lg-2"><input type="checkbox">群管理员</li>
        <li class="col-lg-2"><input type="checkbox">暑期兼职</li>
        <li class="col-lg-2"><input type="checkbox">临时工</li>
        <li class="col-lg-2"><input type="checkbox">APP试玩</li>
        <li class="col-lg-2"><input type="checkbox">摄影拍照</li>
        <li class="col-lg-2"><input type="checkbox">单车管理员</li>
        <li class="col-lg-2"><input type="checkbox">主播</li>
        <li class="col-lg-2"><input type="checkbox">线上</li>
        <li class="col-lg-2"><input type="checkbox">其他兼职</li>
        </ul>
      <!--</div>-->
  </div>
      <div class=" col-lg-12 "  style="font-size: 20px;">
        <h3><span style="color: red">*</span>意向地区
          <!--（最多可选5个）-->
        </h3>
        <ul class=" col-lg-12">
          <li class="col-lg-2"><input type="checkbox">苏州全市</li>
          <li class="col-lg-2"><input type="checkbox">姑苏区</li>
          <li class="col-lg-2"><input type="checkbox">虎丘区</li>
          <li class="col-lg-2"><input type="checkbox">吴中区</li>
          <li class="col-lg-2"><input type="checkbox">相城区</li>
          <li class="col-lg-2"><input type="checkbox">吴江区</li>
          <li class="col-lg-2"><input type="checkbox">昆山市</li>
          <li class="col-lg-2"><input type="checkbox">常熟市</li>
          <li class="col-lg-2"><input type="checkbox">张家港市</li>
          <li class="col-lg-2"><input type="checkbox">太仓市</li>
          <li class="col-lg-2"><input type="checkbox">沧浪区</li>
          <li class="col-lg-2"><input type="checkbox">工业园区</li>
          <li class="col-lg-2"><input type="checkbox">高新区</li>
        </ul>
      </div>
</div>
  </div>
</div>
